*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url('picture_for_registration.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
}